
.navbar {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #009F42;
  }
  
  .Navbar__brand {
    color: #ffffff;
  
    display: flex;
    align-items: center;
  }
  
  .Navbar__brand:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .Navbar__brand-logo {
    width: 60px;
    margin-right: 0.5rem;
  }

#main .carousel-inner img {
    max-height: 40vh;
    object-fit: cover;
    filter: grayscale(70%);

}

#carousel {
    position: relative;
}

#carousel .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}


#footer {
    background-color: #F9F9F9;
}

.fb-logo {
    width: 33px;
    height: 25.48px;
    margin-right: 0.5rem;
  }

  .tw-logo {
    width: 33px;
    height: 25.48px;
    margin-right: 0.5rem;
  }

  .ut-logo {
    width: 33px;
    height: 25.48px;
    margin-right: 0.5rem;
  }

  .ig-logo {
    width: 33px;
    height: 25.48px;
    margin-right: 0.5rem;
  }


  /* Loader */
  .lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  
  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation: lds-grid 1.2s linear infinite;
  }
  
  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }
  
  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }
  
  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }
  
  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }
  
  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }
  
  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }
  
  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }
  
  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }
  
  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }
  
  @keyframes lds-grid {
  
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }
  }
  /* Loading */
  .PageLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }